@use './elements';
@use './generics';
@use './settings';
@use './utilities';

@tailwind base;

// Uncomment this to use tailwind class-style instead of @apply-style
// @tailwind components;
// @tailwind utilities;

body {
  @apply m-0 antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}
