@tailwind utilities; // This is not ok

.App {
  text-align: center;

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @apply text-xl;
    color: white;

    .App-logo {
      height: 40vmin;
      pointer-events: none;

      @apply motion-safe:animate-spin;
    }

    .App-link {
      color: #61dafb;
    }
  }
}
